/.idea/
/.idea/
.DS_Store
COMP 442/.DS_Store
COMP 442/input&output/.DS_Store
COMP 442/input&output/ASTtests.txt.outderivation
COMP 442/input&output/example-bubblesort.src.outderivation
COMP 442/input&output/parsetest.outderivation
COMP 442/input&output/example-polynomial.outderivation
COMP 442/input&output/.DS_Store
COMP 442/.DS_Store
.DS_Store
COMP 442/input&output/example-polynomial.src.outderivation
COMP 442/input&output/example-bubblesort.outderivation
*.outderivation
COMP 442/input&output/ASTtests.outderivation
